<a href="https://colab.research.google.com/github/PurviDarekar/CustomDrawer-App/blob/master/Integer_and_floats_working_with_numeric_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

type funtion (built-in)

In [2]:
num = 3 
num2 =3.14

print(type(num))
print(type(num2))

<class 'int'>
<class 'float'>

**Arithmetic operator**


1.   Addition       3 + 2
2.   Substraction   3 - 2
3.   Multiplication 3 * 2
4.   Division       3 / 2
5.   Floor Division 3 // 2
6.   Exponent       3 ** 2
7.   Modulus        3 % 2

In [5]:
print (3+2)
print (3-2)
print (3*2)
print (3/2)
# floor division will not include the values which comes after the decimal
print (3//2)
#exponential it will give the exponent values of the first number like 3^2 = 9
print (3**2)
#modulas it will give the reminder of the division -use case to find even and odd
print (3%2)
print (4%2) # reminder is zero it means it is even

5
1
6
1.5
1
9
1
0

**Order of operations in Python**

follows the standard mathematical rules, known as the "PEMDAS" rule, which stands for:

1. Parentheses
2. Exponents
3. Multiplication and Division (from left to right)
4. Addition and Subtraction (from left to right)

Increment

In [6]:
num = 1

num = num + 1
#shorhand 
# num += 1
print(num)

2

absolute funtion

In [7]:
print(abs(-3))
#it will remove the sign from the values

3

round function

In [9]:
print(round(3.75))
# it will return the round figure of the interger value
print(round(3.75,1))
#we can also dive extra argument it will provide roundfigure till that value

4
3.8

**Comparison operator**
1. Equal:  3 == 2
2. Not Equal:  3 != 2
3. Greater than:  3 > 2
4. Less tham: 3 < 2
5. Greater or Equal: 3 >= 2
6. Less or Equal: 3 <= 2

In [11]:
num_1 = 3
num_2 = 2

print(num_1 == num_2)
print(num_1 != num_2)
print(num_1 > num_2)
print(num_1 < num_2)
print(num_1 >= num_2)
print(num_1 <= num_2)

False
True
True
False
True
False

Casting

In [13]:
num_1 ='100'
num_2 ='200'
# here we want the string number to result 300 not 100200 which is string concatination

# casted the string into the interger value

num_1 = int(num_1)
num_2 = int(num_2)
print(num_1 + num_2)

300